<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/DGDegrassi">Daniel</a>.  Mixing his passion for history and coding, this was his first project.
  </p>
  <br />

  <div class="col-xs-12 col-sm-6",>
  <%= image_tag 'daniel.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-cs-12 col-sm-7-offset-1">
  <p>
    Having started his journey into the coding world in 2016 through <a target="_blank" href="http://thefirehoseproject.com/"> The Firehose Project</a>, he has since gone on to become a professional web developer.
  </p>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />